/* ESTILOS GERAIS */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

body {
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
  background-color: var(--Very-Light-Gray);
}

body, ul, li, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

:root {
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);
  
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

/* menu */

.header {
  background-color: white;
  padding: 30px 0;
  align-items: center;
}

.header div {
  justify-content: space-between;
}

.nav-menu ul {
  display: flex;
}

.nav-menu ul li a {
  padding: 10px;
  color: var(--Grayish-Blue);
}

.primary-btn {
  background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  color: var(--White);
  padding: 15px 40px;
  border-radius: 60px;
}

.container {
  max-width: 1140px;
  display: flex;
  margin: 0 auto;
}

/* main */

.main::after {
  content: '';
  display: block;
  background-image: url('images/image-mockups.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: 120%; 
  background-position-y: 100%; 
  height: 800px;
  z-index: 100;
  align-items: center;
  align-self: center;
  align-content: center;
  position: relative;
}

.main {
  background-image: url('images/bg-intro-desktop.svg');
  background-position-x: 100%;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-y: -210px;
  align-items: center;
  align-self: center;
  align-content: center;
}




.intro {
 display: inline;
 position: absolute;
 z-index: 0;
}

.intro h1 {
  font-weight: 300;
  font-size: 50px;
  color: var(--Dark-Blue);
  margin-top: 100px;
}

.intro p {
  color: var(--Grayish-Blue);
  line-height: 22px;
  font-size: 16px;
  margin: 20px 0 40px 0;
}

/* easybank */

.easybank {
  margin-top: -100px;
  z-index: 1;
  position: relative;
  padding: 60px 0;
  background-color: #f4f5f7;
}

.easybank-row {
  flex: 1 0 auto;
}


































.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }